
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
    height: -webkit-fill-available;

}
body{
    min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color:#EEF1FF;
}

.withbar{
  display: flex;
  main{
    margin: 0 0 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

}
body{
  background-color: #242424;
}

@media screen and (max-width:800px) {
#page_wrap{
  padding: 0;
}
}