@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');
$primary-color: #B1B2FF;

.nav{
  width: 100%;
  background-color: $primary-color;
}

.nav_wrap{
  max-width: 1280px;
  padding: 1em 2em;
  margin: 0 auto;
  h1{
   font-family: 'Fragment Mono', monospace;
    font-size: 2em;
    color: white;
  }
}